/* Здесь должны быть ваши стили */
* {
    /* box-sizing: border-box; */
}

body {
  display: flex;  
  justify-content: center;
  align-items: center; 
 
}
.container {
  display: inline-flex; 
  /* align-items: center; */
  position:relative; 
  width: 70%;  
  height: 70vh;
  /* top: 50%;
  left: 50%; */
  /* right: 0%; */
  /* bottom: 0%; */
  /* margin:auto; */
  justify-content: center;
  

  background-color: blanchedalmond;  
  border: 3px solid green;
}

.header {
justify-content: center;
font-size: 2em;
color: rgb(10, 168, 116);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}

.todo-list {
  /* display: flex; */
  --width: 93%;
  --height: 35vh;
  font-size: 1.7em;
  position: absolute;
  top: 100px;
  left: 20px;
  background-color: rgb(10, 168, 116);
  width: var(--width);
  height: var(--height);


}

.todo-form {

}

.todo {
    
}

.button {
width:80px;
height: 35px;
border: 2px solid black;
border-radius: 8px;
font-size: 0.6em;
box-shadow: 1.2 1.2 10px rgba(0, 0, 0, 0.87);
}

.create-todo-button {
  /* position: absolute; */
  top: calc(var(--height)+200);
  left: 20px;
  
} 

.button back-button {

}

.button edit-button {
/* margin-right: 100px; */
}

.delete-button {
  right: 100px;
}

.delete {

}